JWT_SECRET=tu-clave-secreta-larga-para-firmar-tokens
ESP32_CAM_URL=http://<IP_DE_LA_ESP32_CAM>:81/stream
PORT=3000

# Configuración de Base de datos MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_USER=iot_user
DB_PASSWORD=poner_aqui_tu_contraseña
DB_NAME=iot_security_db
